<h1>{{title}}</h1>
{{!Los partial helpers son estáticos tho}}
{{!Los helpers a su vez pueden referenciar handlebars
de las páginas a las que estamos llamando, siempre
y cuando TODAS y cada una de las páginas posean
un atributo title}}

<div>
    <table align="center">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td><a href="/"> Home Page </a></td>
                <td><a href="/info"> Info </a></td>
                <td><a href="/about"> Acerca de... </a></td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>