<html>
    <head>
        <link rel="icon" type="image/png" href="../../../public/cloud.ico">
        <link rel="stylesheet" href="./css/styles.css">
        <title>About</title>
    </head>
    <body>
        {{> header}}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;La aplicación del Clima (<i>Weather App</i>) es un trabajo 
        (concretamente el segundo), del curso de programación de 
        Node.Js y servidores web dictado por Udemy. Este tiene como 
        objetivo enseñar a quienes lo cursan acerca de cómo funciona 
        el internet, <b>los requisitos y las respuestas</b>. </p>

        <p> El curso en general se orienta a la obtención y uso de datos 
        mediante <b>APIs</b> (Application Programming Interface), y 
        el armado de servidores web mediante el módulo <b>Express</b>, 
        brindado para el framework objeto de estudio, Node.Js </p>
        {{> footer}}
    </body>
</html>