<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../../../public/cloud.ico">
        <link rel="stylesheet" href="./css/styles.css">
        <title>Welcome to 404 Weather App!</title>
    </head>
    <body>
        {{> header}}
        {{#if msg}}
        <p align="center">{{msg}}</p>
        {{/if}}
        {{> footer}}
    </body>
</html>